it-ticket-triage-demo/workflow/IT_Ticket_Triage.json
{
  "name": "IT Support Ticket Triage & Resolution Multi-Agent System",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -384,
        144
      ],
      "id": "e9ee5dca-cc18-426f-86b9-725df04d6322",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cz9Zz5x8UaZgeAlu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        -112
      ],
      "id": "2b1f1031-89d9-413f-bf28-26d8a03ffc93",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "cz9Zz5x8UaZgeAlu",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "## An AI system that classifies IT tickets, drafts responses for low-risk requests, and routes anything uncertain to a human for approval with full logging",
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -512
      ],
      "typeVersion": 1,
      "id": "66e615de-b543-4085-9842-50c8a3433f15",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "IT Support Ticket Triage - Submit a Request",
        "formDescription": "Submit IT issue and our AI system will triage it automatically",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Request Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Subject",
              "requiredField": true
            },
            {
              "fieldLabel": "Description",
              "requiredField": true
            },
            {
              "fieldLabel": "Priority Guess"
            }
          ]
        },
        "options": {
          "customCss": "body {\n  font-family: 'Segoe UI', sans-serif;\n  background-color: #f7f7f9;\n}\n\n.n8n-form-header h1 {\n  color: #2b2b2b;\n}\n\nbutton[type=\"submit\"] {\n  background-color: #FF6B4A !important;\n  border-radius: 6px !important;\n  font-weight: 600;\n}\n\n.n8n-form-input, .n8n-form-textarea {\n  border-radius: 6px !important;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -688,
        -80
      ],
      "id": "eec1d10a-098a-4665-b1a6-77106f99ed56",
      "name": "Ticket Intake Form",
      "webhookId": "e9f04b0f-f538-4904-958b-caafe30f6356"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json['Subject'] }}\nDescription: {{ $json['Description'] }}",
        "options": {
          "systemMessage": "You are an IT support ticket classifier. Given a ticket subject and \ndescription, output ONLY valid JSON with these fields:\n{\n  \"category\": \"access_request\" | \"password_reset\" | \"software_issue\" | \"hardware_issue\" | \"network_issue\" | \"other\",\n  \"severity\": \"low\" | \"medium\" | \"high\",\n  \"confidence\": 0.0-1.0,\n  \"reasoning\": \"one sentence explanation\"\n}\n\nSeverity guidelines:\n- low: routine, self-service requests with no urgency and single-user impact (e.g. password resets, standard access requests, general how-to questions, non-urgent requests explicitly marked \"not urgent\")\n- medium: issues affecting productivity but not blocking critical work, ambiguous or incomplete requests, or requests with unclear urgency\n- high: production outages, security incidents, multi-user or system-wide impact, or requests explicitly marked urgent/critical\n\nWhen a user explicitly states a request is \"not urgent\" or \"whenever possible,\" weigh this strongly toward \"low\" severity even if the category (e.g. password reset) might otherwise seem sensitive.\n\nNo preamble, no markdown, JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -464,
        -80
      ],
      "id": "5d93f0e6-8681-40f4-9c7c-9bd17fc92a45",
      "name": "Classifier Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb44534-b323-41f8-9186-8ca357475fe0",
              "name": "category",
              "value": "={{ JSON.parse($json.output).category }}",
              "type": "string"
            },
            {
              "id": "d137390a-ac40-44a1-be6c-87e1f043184e",
              "name": "severity",
              "value": "={{ JSON.parse($json.output).severity }}",
              "type": "string"
            },
            {
              "id": "76de01bc-d2a2-4dfd-bcc1-379b2ddf3c5b",
              "name": "confidence",
              "value": "={{ JSON.parse($json.output).confidence }}",
              "type": "string"
            },
            {
              "id": "539c08ee-dfd0-4eb0-af5d-8dc773b71130",
              "name": "reasoning",
              "value": "={{ JSON.parse($json.output).reasoning }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -80
      ],
      "id": "6a838a22-11a8-40a7-acd5-0453a52f0628",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f776a77-c620-485b-8727-93f18145bcd5",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cba4b5ec-a57c-4172-a732-0f8edcc040fa",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -80
      ],
      "id": "869c2d50-fc11-4829-8470-e439467fc083",
      "name": "Severity Router"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Category: {{ $('Parse Classification').item.json.category }}\nSeverity: {{ $('Parse Classification').item.json.severity }}\nReasoning: {{ $('Parse Classification').item.json.reasoning }}",
        "options": {
          "systemMessage": "You are an IT support resolution assistant. Given a ticket category \nand description, draft a resolution response using standard IT \nsupport best practices for that category. Keep it under 100 words, \nprofessional tone. Output plain text only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        -336
      ],
      "id": "12a74757-e69b-4802-b49d-681a0a777d19",
      "name": "Resolver Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b07c4249-13e0-48ee-a36f-a0a129683c84",
              "name": "status",
              "value": "Draft Sent - Awaiting Verification",
              "type": "string"
            },
            {
              "id": "ff4afa9e-184a-4a4f-9c99-3f1e905b370e",
              "name": "resolution",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -224
      ],
      "id": "a52d58f1-912a-495e-9078-1ddbe8e2152d",
      "name": "Set Draft Status"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18wxaXgMZJAmOCTkFz356L0tIqBu6XzNIii4g4t5P-lA",
          "mode": "list",
          "cachedResultName": "IT Ticket Triage Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wxaXgMZJAmOCTkFz356L0tIqBu6XzNIii4g4t5P-lA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wxaXgMZJAmOCTkFz356L0tIqBu6XzNIii4g4t5P-lA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp ": "={{ $now }}",
            " Severity": "={{ $('Parse Classification').item.json.severity }}",
            "Confidence ": "={{ $('Parse Classification').item.json.confidence }}",
            "Path": "Auto",
            "Status": "Response Drafted (Auto)",
            "Resolution": "={{ $json.resolution }}",
            "Category": "={{ $('Parse Classification').item.json.category }}",
            "Subject": "={{ $('Ticket Intake Form').item.json.Subject }}",
            "Reported By": "={{ $('Ticket Intake Form').item.json['Request Name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Severity",
              "displayName": " Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence ",
              "displayName": "Confidence ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Path",
              "displayName": "Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reported By",
              "displayName": "Reported By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        -224
      ],
      "id": "89d7a5de-aa30-401a-acab-888bd189e335",
      "name": "Log - Auto Path",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERcviZ0Z5ftTG8zt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BEW37FCBV",
          "mode": "list",
          "cachedResultName": "it-support-triage"
        },
        "message": "=🎫 New ticket needs review\nReported by: {{ $('Ticket Intake Form').item.json['Request Name'] }}\nSubmitted: {{ $('Ticket Intake Form').item.json.submittedAt }}\nCategory: {{ $json.category }} | Severity: {{ $json.severity }}\nSubject: {{ $('Ticket Intake Form').item.json.Subject }}\nReasoning: {{ $json.reasoning }}",
        "approvalOptions": {
          "values": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        400,
        64
      ],
      "id": "f36fb876-5d26-4c5c-bdf7-7fa1c78271ed",
      "name": "Human Review - Slack",
      "webhookId": "43f3a0be-766f-452e-81e7-99b73f659d77",
      "credentials": {
        "slackOAuth2Api": {
          "id": "0NFbioKF05g7GPsZ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18wxaXgMZJAmOCTkFz356L0tIqBu6XzNIii4g4t5P-lA",
          "mode": "list",
          "cachedResultName": "IT Ticket Triage Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wxaXgMZJAmOCTkFz356L0tIqBu6XzNIii4g4t5P-lA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18wxaXgMZJAmOCTkFz356L0tIqBu6XzNIii4g4t5P-lA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp ": "={{ $now }}",
            "Category": "={{ $('Parse Classification').item.json.category }}",
            " Severity": "={{ $('Parse Classification').item.json.severity }}",
            "Confidence ": "={{ $('Parse Classification').item.json.confidence }}",
            "Path": "Human",
            "Resolution": "Reviewed via Slack",
            "Status": "={{ $('Human Review - Slack').item.json.data.approved ? 'Approved' : 'Rejected' }}",
            "Reported By": "={{ $('Ticket Intake Form').item.json['Request Name'] }}",
            "Subject": "={{ $('Ticket Intake Form').item.json.Subject }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp ",
              "displayName": "Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Severity",
              "displayName": " Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence ",
              "displayName": "Confidence ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Path",
              "displayName": "Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reported By",
              "displayName": "Reported By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        64
      ],
      "id": "6006a9fb-01d6-40cf-ae75-e77dc526cdf7",
      "name": "Log - Human Path",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERcviZ0Z5ftTG8zt",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resolver Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Intake Form": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Router": {
      "main": [
        [
          {
            "node": "Resolver Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Human Review - Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Agent": {
      "main": [
        [
          {
            "node": "Set Draft Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Draft Status": {
      "main": [
        [
          {
            "node": "Log - Auto Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Review - Slack": {
      "main": [
        [
          {
            "node": "Log - Human Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8678a032-d3c0-4323-9918-7fbf2994aa7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "709fb63ca4545b2af3641def8cb018d3c2a0d1e21fa77e00e29ee42b89593a29"
  },
  "nodeGroups": [],
  "id": "QsRNfVpiIUst7dw7",
  "tags": []
}